*{
    margin: 0;
    box-sizing: border-box;
}

.element__container{
    position:relative;
}


.main{
    max-width: 375px;
    margin:0 auto;
}
@media (min-width: 720px){
    .main{
        max-width: 100%;
    }
}
.card__front{
    position:absolute;
}
.main__cardBack{
    position:absolute;
    
}